.bg_top_sidebar {
    background-image: url(../imagens/fdf_fachada_gradient.jpg);
    max-width:100%;
    max-height:100%;
    height: 160px;
    background-size:100% 100%;
}

.info-label-aluno{
  font-size: 12px;
  margin-bottom: -1px;
  color: white;
}

.info-label-curso {
  font-size: 12px;
  margin-bottom: -1px;
  color: #D3D3D3;
}

.info-posicao {
  margin-top: 75px;
}


.label-item-menu{
  margin-top: 0px;
  font-size: 16px;
}

.item-menu {
  height: 15px;
}

.tamanho-item {
  margin: -10px 0px;
  padding: -10px 0px;
}

.lb-sair-versao{
  margin: 15px;
  margin-top: 10px;
  font-size: 15px;
}

.espacamento-sair-versao {
  margin-top: 10px;
}


.link-sair-versao {
	text-decoration: none;
  color: #666666;
	}

.link-sair-versao:hover {
	background-color: rgba(0, 0, 0, 0.3);
	}
